.shop-mw {
    display: flex;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 5%;
}

.shop-mw img {
    display: inline-block;
max-width: 100%;
}

.mens {
    padding-left: 5%;
    max-width: 50%;
    padding-right: 2px;
}

.womens {
    padding-right: 5%;
    max-width: 50%;
    padding-left: 2px;
}

.mens-boots {
    text-decoration: underline;
    text-align: center;
}
.womens-boots {
    text-decoration: underline;
    text-align: center;
}

.womens a{
    color: black;
}
.womens a:hover {
    color: goldenrod;
}

.mens a{
    color: black;
}
.mens a:hover {
    color: goldenrod;
}



