.running_carousel1 {
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    font-size: 300px;
}

.running_carousel2 {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 300px;
}

.running_carousel3 {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 250px;
    padding-bottom: 17px; 
    text-decoration: none;
}


.caro-hype:hover {
    text-decoration: none;
}