.running_carousel1 {
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    font-size: 400px;
}

.running_carousel2 {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 400px;
}