.infonav{
    color: black;
    font-weight: 500;
    font-size: small;
    opacity: 40%;
}

.infonavcol1 {
    color: black;
    border: 0.5px solid;
    text-align: center;
    padding:10px;
}
.infonavcol2 {
    color: black;
    border: 1px solid;
    text-align: center;
    padding:10px;
}
.infonavcol3 {
    color: black;
    border: 1px solid;
    text-align: center;
    padding:10px;
}