
.shoeContainer {
   padding: 25px;
    display: inline-flex;
    flex: auto;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
}

li {
    padding: 0px 5px 5px 5px;
}


.allShoes {
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.shoeThumbs {
    max-width: 200px;
    height: auto;
}

.thumblist {
   
}

.thumbs {
    max-width: 100%;
    height: 113px
}

.main {
    width: auto;
    height: auto;
    display: flex;
}

.sizes {
    background-color: goldenrod;
}

.shoeInfo {
    padding-left: 15px;
}

.select {
    padding-top: 30%;
    font-size: smaller;
}

.sizes:hover {
    border-color: black;
}

.button_cont {
    padding-top: 42.9%;

}

.sizeguide {
    color: black;
    margin-left: 6%;
    font-size: x-small;
    text-decoration: underline;
}

.sizeguide:hover {
    color: goldenrod;
}

.example_c {
    color: goldenrod;
    text-decoration: none;
    padding: 8px 18px;
    border: 2px solid goldenrod;
    display: inline-block;
    transition: all 0.2s ease 0s;
    }

    .example_c:hover {
        color: #ffffff;
        background: goldenrod;
        text-decoration: none;
        border-color: goldenrod;
        transition: all 0.2s ease 0s;
        opacity: 90%;
        }

.desc {
    width: 30%;
    margin-left: 7%;
}

.details {
    text-decoration: underline;
}

.dets {
    font-size: small;
}

.under {
    display: inline;;
}

.rating-star {
    font-size: small;
}

.more-info {
    display: inline-flex;
}

.info {
    margin-left: 25%;
}

.infoHead {
    text-decoration: underline;
}

.infoDet {
    font-size: smaller;
}