.card {
    padding: 0px;
    color: black;
}
.card-img {
    width: 200px;
}

.card:hover {
    color: goldenrod;
    
}

.carddiv {
    text-align: center;
}

.cardbutton {
    margin: auto;
    max-width: 50px;
    text-align: center;
}